
<html>
<head>
  <style>
    body {
      text-align: center;
      font-style: normal;
      font-family: sans-serif;
    }
  </style>
</head>
<body>
<h1> hi there! please enter your name </h1>

<form action="/name" method="post">
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form>
</body>
</html>
